.heroBanner {
  padding: 0 1rem;

  z-index: 1;
  background: transparent;

  --ifm-hero-background-color: transparent;

  position: relative;
}

.container {
  width: 100%;

  @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: 42% auto;
  }

  @media screen and (min-width: 1900px) {
    grid-template-columns: 65% auto;
  }

  p {
    max-width: 680px;

    @media screen and (min-width: 960px) {
      font-size: 18px;
      line-height: 32px;
    }

    @media screen and (min-width: 1900px) {
      font-size: 20px;
      line-height: 38px;
    }
  }
}

.item {
  grid-column: 1/2;
}

.title {
  color: black;
  html[data-theme="dark"] & {
    color: var(--ifm-color-primary);
  }

  padding: 4rem 0 0;

  letter-spacing: -0.05rem;
  line-height: 1.2;
  font-size: 3.5rem;
  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }
  @media screen and (min-width: 1480px) {
    font-size: 5rem;
  }
  @media screen and (min-width: 1900px) {
    font-size: 5.75rem;
  }
}

.actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
