.heroBanner {
  padding: 0 1rem;

  z-index: 1;
  background: transparent;

  --ifm-hero-background-color: transparent;

  position: relative;

  min-height: 480px;

  @media screen and (min-width: 768px) {
    min-height: 520px;
  }
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    max-width: 680px;
    text-align: center;

    @media screen and (min-width: 960px) {
      font-size: 18px;
      line-height: 32px;
    }

    @media screen and (min-width: 1900px) {
      font-size: 20px;
      line-height: 38px;
    }
  }
}

.item {
  grid-column: 1/2;
}

.title {
  color: black;
  html[data-theme="dark"] & {
    color: white;
  }

  padding: 4rem 0 0;

  text-align: center;

  max-width: 380px;

  letter-spacing: -0.05rem;
  line-height: 1.1;
  font-size: 2.35rem;

  @media screen and (min-width: 480px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 768px) {
    max-width: 720px;
    font-size: 4rem;
  }
  @media screen and (min-width: 960px) {
    font-size: 5rem;
  }
}

.actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.typing {
  color: var(--ifm-color-primary);
}
