.heroBanner {
  padding: 0 1rem;

  z-index: 1;
  background: transparent;

  --ifm-hero-background-color: transparent;

  position: relative;

  min-height: 480px;

  @media screen and (min-width: 768px) {
    min-height: 520px;
  }
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    max-width: 760px;
    text-align: center;

    @media screen and (min-width: 960px) {
      font-size: 18px;
      line-height: 32px;
    }

    @media screen and (min-width: 1900px) {
      font-size: 20px;
      line-height: 38px;
    }
  }
}

.subtitle {
  letter-spacing: -0.05em;
}

.item {
  grid-column: 1/2;
}

.title {
  color: black;
  html[data-theme="dark"] & {
    color: white;
  }

  padding: 4rem 0 0;

  text-align: center;

  max-width: 380px;

  letter-spacing: -0.15rem;
  word-spacing: -0.5rem;
  line-height: 1.1;
  font-size: 2.35rem;
  font-weight: inherit;

  @media screen and (min-width: 480px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 768px) {
    max-width: 720px;
    font-size: 4rem;
  }
  @media screen and (min-width: 960px) {
    font-size: 5rem;
  }
}

.actions {
  display: flex;
  flex-direction: column;

  column-gap: 1rem;
  row-gap: 1rem;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    row-gap: 0.65rem;
  }
}

.bold {
  font-weight: bold;
}

.typed {
  font-family: "Pixelify Sans", sans-serif;

  font-size: 2.75rem;

  @media screen and (min-width: 480px) {
    font-size: 2.95rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 4.6rem;
  }

  @media screen and (min-width: 960px) {
    font-size: 5.85rem;
  }
}

.llms {
  display: inline-flex;
  justify-content: center;

  grid-column-start: 2;

  font-size: calc(var(--ifm-font-size-base) * 0.65);

  color: var(--ifm-font-color-base);
  text-decoration: underline;
}
