.heroBanner {
  padding: 0 1rem;

  z-index: 1;
  background: transparent;

  --ifm-hero-background-color: transparent;

  position: relative;
}

.container {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 42% auto;
  }

  @media screen and (min-width: 1900px) {
    grid-template-columns: 65% auto;
  }
}

.item {
  grid-column: 1/2;
}

.title {
  color: #7888ff;
  letter-spacing: -0.05rem;
  line-height: 1.2;
}

.actions {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
