.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  max-width: 100%;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 0.45rem;

  svg {
    width: 28px;
    height: 28px;
  }
  h4 {
    margin: 0;
    font-size: 20px;
    color: inherit;
  }
}

.text {
  margin: 0.5rem 0 0.25rem;
  line-height: 20px;
  font-size: 15px;
  font-family: var(--ifm-font-family-base);
  font-weight: normal;
}

.link {
  font-size: var(--ifm-h6-font-size);
  font-weight: 600;

  pointer-events: all;

  padding: 0.75rem 0 0;

  a {
    text-decoration: none;
  }

  &:hover,
  &:active {
    a {
      color: black;
    }

    &::after {
      color: black;
    }
  }

  html[data-theme="dark"] & {
    &:hover,
    &:active {
      a {
        color: white;
      }

      &::after {
        color: white;
      }
    }
  }

  &::after {
    display: inline-block;
    content: ">";
    transform: translateY(1px);
    color: var(--ifm-color-primary);
    margin-left: 0.5rem;
  }
}
