@use "../mixins/grid";

.home {
  overflow-x: hidden;
}

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 540px;

  @media screen and (min-width: 768px) {
    min-height: 600px;
  }
}

.section {
  padding: 5rem 2rem 4rem;
}

.block {
  padding: 2rem 2rem 4rem;
}

.grid {
  @include grid.columns;
  --grid-gap: 3rem;
}

.grid_two_columns {
  @include grid.two-columns;
}
