:root {
  --juno-border-radius: 3px;

  --ifm-button-border-radius: var(--juno-border-radius);
  --ifm-pagination-nav-border-radius: var(--juno-border-radius);
  --ifm-code-border-radius: var(--juno-border-radius);
}

.theme-admonition,
.card {
  border-radius: var(--juno-border-radius);
}

.button--juno,
.button--hero {
  --ifm-button-border-width: 2px;
  --ifm-button-border-color: black;
  box-shadow: 4px 4px black;

  background: white;
  color: black;

  &:active {
    box-shadow: none;
    transform: translateX(3px) translateY(3px);
  }

  &:hover,
  &:focus {
    color: black;
    background: #e9ebff;
  }

  transition: color 0.15s ease-out, background 0.15s ease-out,
    transform 0.15s ease-out, box-shadow 0.25s ease-out, border 0.15s ease-out;
}

.button--hero {
  background: var(--ifm-color-gray-900);
  color: white;
  box-shadow: 4px 4px #c4cdff;

  &:hover,
  &:focus {
    background: #7888ff;
    color: white;
    --ifm-button-border-color: #6a78e0;
  }
}

:root {
  &[data-theme="dark"] {
    .button--juno {
      box-shadow: 4px 4px var(--ifm-color-gray-700);
      --ifm-button-border-color: var(--ifm-color-gray-900);
    }

    .button--hero {
      background: #7888ff;
      color: white;
      --ifm-button-border-color: white;

      &:hover,
      &:focus {
        background: #8694ff;
        --ifm-button-border-color: #7888ff;
      }
    }
  }
}
