:root {
  --ifm-code-border-radius: var(--juno-border-radius);
  --ifm-global-shadow-lw: none;
}

.container {
  @media (min-width: 1440px) {
    max-width: 1640px;
  }
}

.main-wrapper {
  position: relative;
}

.footer__copyright {
  color: var(--ifm-footer-link-color);
  font-size: 80%;
}

@media screen and (min-width: 996px) {
  .footer__copyright {
    padding: 4rem 0 0;
  }
}

.markdown li {
  margin-bottom: var(--ifm-global-spacing);
}

div.theme-code-block {
  border: 1px solid var(--ifm-color-gray-400);
}

a.pagination-nav__link,
a.card {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.15);

  transition:
    color 0.15s ease-out,
    background 0.15s ease-out,
    transform 0.15s ease-out,
    box-shadow 0.25s ease-out,
    border 0.15s ease-out;

  &:active,
  &:active:focus {
    box-shadow: none;
    transform: translateX(1px) translateY(1px);
  }

  &:hover,
  &:focus {
    box-shadow: 2px 2px var(--ifm-color-primary-light);
  }
}

:root {
  &[data-theme="dark"] {
    a.pagination-nav__link,
    a.card {
      box-shadow: 2px 2px var(--ifm-color-gray-700);

      &:active,
      &:active:focus {
        box-shadow: none;
        transform: translateX(1px) translateY(1px);
      }

      &:hover,
      &:focus {
        box-shadow: 2px 2px var(--ifm-color-primary-light);
      }
    }
  }
}

.markdown > pre,
.markdown > ul,
.markdown > p {
  &:has(+ hr) {
    margin-bottom: 0 !important;
  }

  & + hr {
    margin-top: 0;
  }
}
