:root {
  font-family: "JetBrains Mono", monospace;
  --ifm-font-family-base: "JetBrains Mono", monospace;
  --ifm-font-family-monospace: "JetBrains Mono", monospace;
  --ifm-code-font-size: 13px;
  --ifm-font-size-base: 15px;
  --font-size-navbar: 14px;
}

.markdown > h4 {
  --ifm-h4-font-size: 1.25rem;
}
