:root {
  font-family: "JetBrains Mono", monospace;
  --ifm-font-family-base: "JetBrains Mono", monospace;
  --ifm-font-family-monospace: "JetBrains Mono", monospace;
  --ifm-code-font-size: 13px;
  --ifm-font-size-base: 100%;
  --font-size-navbar: 0.875rem;
}
