:root {
  &.docs-wrapper {
    .navbar {
      border-bottom: 1px solid var(--ifm-toc-border-color);
    }
  }
}

.navbar {
  height: 68px;

  @media screen and (min-width: 1280px) {
    padding-inline: 3rem;
  }
}

.navbar__brand {
  gap: 0.5rem;
  margin-right: calc(4rem - var(--ifm-navbar-item-padding-horizontal));
  @media screen and (max-width: 1160px) {
    // Tablets & small desktops: reduce spacing between tagline and main nav links
    margin-right: 1rem;
  }

  .navbar__logo {
    display: flex;
    align-items: center;
    height: 25px;
  }

  .navbar__title {
    font-weight: normal;
    @media screen and (max-width: 1080px) {
      display: none;
    }
  }
}

// Github link in the navbar
.navbar__item:has(.navbar-github-link) {
  padding: 0 8px;
}

.navbar-github-link {
  display: none;

  @media screen and (min-width: 996px) {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 34px;
    width: 34px;

    border-radius: 50%;

    color: inherit;

    &:hover {
      background: var(--ifm-color-emphasis-200);
      color: inherit;
    }

    span {
      display: none;
    }
  }
}

// Sign in button in the navbar
.navbar .button--hero {
  display: none;

  @media screen and (min-width: 996px) {
    display: block;

    padding: 2px 10px;
    margin: 0 0 3px;
  }
}
