nav {
  div[class*="navbarSearchContainer"] {
    padding-left: 4px;
  }

  .DocSearch {
    --docsearch-searchbox-background: var(--ifm-navbar-background-color);

    height: 34px;

    &:hover,
    &:focus {
      background: var(--ifm-color-emphasis-200);
      box-shadow: none;
    }

    .DocSearch-Button-Placeholder,
    .DocSearch-Button-Keys {
      display: none;
    }
  }
}
