.illustration {
  position: absolute;

  right: 0;
  bottom: 0;

  display: none;

  @media screen and (min-width: 960px) {
    display: block;

    width: 64%;

    top: 50%;
    bottom: auto;
    transform: translate(16%, -50%);
  }

  @media screen and (min-width: 1480px) {
    top: 60%;
    right: 50%;
    transform: translate(100%, -50%);
    max-width: calc(var(--ifm-container-width-xl) / 1.4);
  }
}
