.illustration {
  position: absolute;

  right: 0;
  bottom: 0;

  display: none;

  @media screen and (min-width: 768px) {
    display: block;

    width: 54%;

    top: 50%;
    bottom: auto;
    transform: translate(2%, -50%);
  }

  @media screen and (min-width: 1900px) {
    top: 60%;
    right: -2%;
    max-width: calc(var(--ifm-container-width-xl) / 1.4);
  }
}
