.illustration {
  position: absolute;

  right: 0;
  bottom: 0;

  display: none;

  @media screen and (min-width: 960px) {
    display: block;

    width: 60%;

    top: 32%;
    bottom: auto;
    transform: translate(40%, -50%) rotate(-5deg);
  }

  @media screen and (min-width: 1480px) {
    top: 60%;
    right: 50%;
    transform: translate(100%, -50%);
    max-width: calc(var(--ifm-container-width-xl) / 1.4);
  }

  canvas {
    width: 100%;
    height: 100%;

    aspect-ratio: 1/1;
  }
}
