@use "../../mixins/section";

.container {
  margin: 0 auto;

  max-width: var(--ifm-container-width);
  width: 100%;

  @include section.standalone;

  @media screen and (min-width: 1140px) {
    padding: 3rem 3rem 12rem;
  }
}
