.img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.card {
  padding: 0;
  text-align: left;

  background: var(--ifm-footer-background-color);
  color: var(--ifm-footer-color);

  min-width: 100%;
  max-width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    background: var(--ifm-footer-background-color);
    color: var(--ifm-footer-color);
    --ifm-button-border-color: var(--ifm-color-primary);
  }
}

:root {
  &[data-theme="dark"] {
    .card {
      &:hover,
      &:focus {
        --ifm-button-border-color: var(--ifm-color-primary);
      }
    }
  }
}

.imgContainer {
  width: 100%;
  aspect-ratio: 1200 / 630;
  position: relative;
}

.content {
  padding: 1rem;

  color: var(--ifm-font-color-base);

  p {
    font-weight: initial;
  }

  h4,
  p {
    word-break: break-word;
    white-space: pre-wrap;
  }

  h4 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This pushes items to the edges */
  }

  .githubLogo {
    width: 40px; /* Adjust the size of the logo */
    height: 40px;
  }
}

.githubLink {
  margin-left: auto; /* Pushes the link to the right */
}
