@mixin h2 {
  line-height: 1.2;
  font-size: 2rem;
  letter-spacing: -0.05em;
  @media screen and (min-width: 768px) {
    font-size: 2.75rem;
  }
  @media screen and (min-width: 1480px) {
    font-size: 3.25rem;
  }
}

@mixin h1 {
  --ifm-h1-font-size: 3rem;
  letter-spacing: -0.05em;
  margin-bottom: calc(
    var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}
