@mixin columns {
  display: flex;
  flex-direction: column;
  --grid-gap: 2rem;
  gap: var(--grid-gap);

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - (1 * var(--grid-gap))) / 2));
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, calc((100% - (2 * var(--grid-gap))) / 3));
  }
}
