@use "../../mixins/fonts";

.section {
  height: 650px;
  background: var(--ifm-color-primary);
  padding-inline: 1rem;

  @media screen and (min-width: 768px) {
    padding-inline: 2rem;
  }
}

.container {
  height: 100%;
  overflow-y: hidden;
  position: relative;
  display: flex;
  align-items: center;

  picture {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(8px);
    width: min(440px, 33%);
  }
}

.sub {
  color: black;

  margin-bottom: 0.5rem;

  @include fonts.h2;
}

.subText {
  color: black;

  @media screen and (min-width: 768px) {
    max-width: 660px;
  }

  @media screen and (min-width: 1280px) {
    max-width: inherit;
  }
}

.start {
  background: white;

  html[data-theme="dark"] & {
    --ifm-button-border-color: black !important;
    --button-shadow-color: black !important;
  }
}
