@use "../../mixins/fonts";

.sub {
  display: flex;
  gap: 4rem;

  article {
    max-width: 684px;
    padding-top: 1.75rem;
  }
}

.title {
  margin: 1rem 0 0.75rem;
  @include fonts.h2;
}

.img {
  width: 100%;
  margin: 0 auto;

  display: none;

  @media screen and (min-width: 960px) {
    max-width: 460px;
    display: block;
  }

  @media screen and (min-width: 1280px) {
    max-width: 560px;
  }
}

.code {
  position: relative;

  :global(.code-npm) {
    width: 290px;
    box-shadow: none;

    code {
      padding: var(--ifm-pre-padding) var(--ifm-pre-padding)
        var(--ifm-pre-padding) 2rem;
    }

    span {
      color: #00fff5;
    }

    button {
      opacity: 1;
      border-color: transparent;
      padding-top: 0.55rem;
    }
  }
}

.bash {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translate(0, -50%);

  z-index: 1;
}
