@use "../../mixins/fonts";

.sub {
  display: flex;
  gap: 4rem;

  article {
    max-width: 684px;
    padding-top: 1.75rem;
  }

  img {
    width: 100%;
    margin: 0 auto;

    display: none;

    @media screen and (min-width: 960px) {
      max-width: 460px;
      display: block;
    }
  }

  :global(.code-npm) {
    width: 280px;
    box-shadow: none;

    span {
      color: #00fff5;
    }
  }
}

.title {
  @include fonts.h2;
  margin: 1rem 0 0.75rem;
}
