@use "../../mixins/fonts";

.sub {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: 60% calc(40% - 4rem);
    gap: 4rem;
  }

  article {
    max-width: 724px;
    margin-bottom: 2rem;
  }

  picture {
    width: 100%;
    margin: 0 auto;

    display: none;

    @media screen and (min-width: 960px) {
      max-width: 580px;
      display: block;
    }
  }

  :global(.code-yolo) {
    width: 280px;
    box-shadow: none;

    span {
      color: #00fff5;
    }
  }
}

.title {
  @include fonts.h2;
  margin: 1rem 0 0.75rem;
}
