@use "../../mixins/fonts";

.container {
  margin: 3rem auto 6rem;
  max-width: var(--ifm-container-width);
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}

.sub {
  margin: 1rem 0 0.75rem;
  @include fonts.h2;
}

.subsub {
  margin: 2rem 0 0.75rem;
}

.list {
  margin: 0 0 2rem;
}
