@use "../../mixins/grid";
@use "../../mixins/fonts";

.title {
  @include fonts.h1;
}

.text {
  margin: 0 0 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 3rem 0 6rem;
}

.grid {
  @include grid.columns;

  margin: 0 1rem 6rem;
}
