@use "../../mixins/grid";
@use "../../mixins/fonts";
@use "../../mixins/section";

.title {
  @include fonts.h1;
}

.text {
  margin: 0 0 2rem;
  max-width: 280px;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: var(--ifm-container-width);
  width: 100%;

  margin: 0 auto;

  @include section.standalone;

  padding: 6rem 3rem;
}

.grid {
  @include grid.columns;
}

.section {
  @include section.standalone;
}
